*.desktop
*.gmo
*.la
*.lo
*.o
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
globaltime/globaltime
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libical/src/libical/ical.h
libical/src/libical/icalderivedparameter.c
libical/src/libical/icalderivedparameter.h
libical/src/libical/icalderivedproperty.c
libical/src/libical/icalderivedproperty.h
libical/src/libical/icalderivedvalue.c
libical/src/libical/icalderivedvalue.h
libical/src/libical/icalrestriction.c
libical/src/libical/icalversion.h
libtool
ltmain.sh
m4
missing
nbproject
org.xfce.calendar.service
org.xfce.orage.service
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/orage
stamp-h1
tz_convert/tz_convert
