*~
*.desktop
*.gmo
*.la
*.lo
*.o
.deps
.libs
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
org.xfce.orage.service
org.xfce.orage.appdata.xml
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/orage.pot
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-it
po/stamp-po
src/orage
stamp-h1
