*~
*.desktop
*.gmo
*.la
*.lo
*.o
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4
missing
org.xfce.orage.service
org.xfce.orage.appdata.xml
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/orage
stamp-h1
