orage_tray_icon{
   background-color: rgb(239, 235, 230);
   border-color: black;
   border-radius: 16px;
   border-top-width: 2px;
   border-right-width: 5px;
   border-bottom-width: 5px;
   border-left-width: 2px;
   border-style: solid;
   font-size: 85px;
}orage_tray_icon > row1{
   font-family: Ariel;
   font-size: 41%;
   color: blue;
}orage_tray_icon > row2{
   font-family: Sans;
   font-weight: bold;
   font-size: 100%;
   color: red;
}
orage_tray_icon > row3{
   font-family: Ariel;
   font-weight: bold;
   font-size: 44%;
   color: blue;
}
#orage_week_window_today{
   background: gold;
   font-weight: bold;
   border-width: 1px;
}
#orage_week_window_sunday{
   color: red;
}#orage_week_window_all_day_event{
   background: lightgray;
}#orage_week_window_odd_hours{
   background: lightgray;
   padding: 4px
}#orage_week_window_even_hours{
   background: rgb(239, 235, 230);
   padding: 4px
}#orage_week_window_hour_line{
   background: white;
   min-width: 3px;
}
#orage_week_window_occupied_hour_line{
   background: black;
   min-width: 3px;
}
#orage_todo_completed{
   color: red;
}
#orage_todo_actual_now{
   color: blue;
}
